<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/sbin:/opt/local/bin:/opt/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/opt/homebrew/bin</string>
	</dict>
	<!-- 唯一标识符 -->
	<key>Label</key>
	<string>com.vincent.photograph-management.job</string>
	<!-- 要运行的脚本 -->
	<key>ProgramArguments</key>
	<array>
		<string>./shell/bin/photograph-management</string>
	</array>
    <key>WorkingDirectory</key>
    <string>/Users/vincent/Developer/code/go_code/src/github.com/vincenty1ung/vincenty1ung.github.io/</string>
    <!-- 在登录时自动启动 -->
	<key>RunAtLoad</key>
	<true/>
	<!-- 保持存活，挂了自动重启 -->
    <key>KeepAlive</key>
    <true/>
    <!-- 日志输出 -->
    <key>StandardOutPath</key>
    <string>/Users/vincent/Library/Logs/photograph-management.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/vincent/Library/Logs/photograph-management.log</string>
</dict>
</plist>